<%- include('partials/header')  %> 

        <div class="row">
            <div class="col-lg-6 home-text">
                <h1>Fly Anywhere!</h1>
            </div>

            <div class="col-lg-6">
                
                <form method="post" action="/">
                    <div class="booking-form-box">

                        <div class="booking-form">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tripPreference" value="One-Way" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    One Way
                                </label>
                              </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tripPreference" value="Round-Trip" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Round Trip
                                </label>
                            </div>

                            <label for="">Flying From</label>
                            <select class="form-select form-control" name="from" aria-label="flyingFromList" required>
                                <option value="">Choose your boarding airport or city</option>

                                <% citiesList.forEach(city => { %> 
                                    <option value=" <%= city %> "> <%= city %>  </option>
                                <% }) %> 

                            </select>

                            <label for="">Flying To</label>
                            <select class="form-select form-control" name="to" aria-label="flyingToList" required>
                                <option value="">Choose your landing airport or city</option>

                                <% citiesList.forEach(city => { %> 
                                    <option value=" <%= city %> "> <%= city %>  </option>
                                <% }) %> 

                            </select>

                            <% let today = new Date().toISOString().slice(0, 10) %> 

                            <div class="input-grp">
                                <label for="">Departing on</label>
                                <input type="date" min="<%=today%>" name="departingDate" class="form-control select-date" required>
                            </div>

                            <div class="input-grp">
                                <label for="">Returning on</label>
                                <input type="date" min="<%=today%>" name="returningDate" class="form-control select-date" required>
                            </div>

                            <div class="input-grp">
                                <label for="">Adults</label>
                                <input type="number" name="noOfAdults" class="form-control" value="1">
                            </div>

                            <div class="input-grp">
                                <label for="">Children</label>
                                <input type="number" name="noOfChildren" class="form-control" value="0">
                            </div>

                            <div class="input-grp">
                                <select class="custom-select" name="classPreference">
                                    <option value="ECONOMY">Economy Class</option>
                                    <option value="BUSINESS">Business Class</option>
                                </select>
                            </div>

                            <div class="input-grp">
                                <button type="submit" class="btn btn-dark btn-sm show-btn">Book Tickets</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="userName" value="<%= userName %> ">
                </form>
            </div>
        </div>

    <section id="booking-form">

    </section>

    <section id="testimonials">

    </section>

    <section id="pricing">

    </section>

<%- include('partials/footer')  %>  
